name: Simple Workflow


on:
 
  push:
    branches: [ "main" ]
    

 
  workflow_dispatch:


jobs:
  
  build-the-code:
   
    runs-on: ubuntu-latest

    
    steps:
      
      - name: Get the code
        uses: actions/checkout@v4

      
      - name: Run a one-line script
        run: echo Hello, world!

     
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
  deploy-to-aws:
    runs-on: ubuntu-latest

    steps:
      - name: get date
        run: date
